
body {
    line-height:20px; margin:0; padding:0;
}

#side-menu {
    background:skyblue; width:300px; position:fixed; left:0; top:0;
    padding:20px;
}

#content-box {
    padding:20px; background:#eee; margin-left:340px;
}

#product-list-table, #product-search-table {
    border-collapse:collapse;
}

#product-list-table th, #product-list-table td, #product-search-table th, #product-search-table td {
    border:1px solid gray;
}

/*end of file*/